<app-menu></app-menu>
<div class="container mat-elevation-z8" >

    <div class="row">
        <mat-toolbar color="primary" >
        <span>Asignación de Rol a Usuario</span>
        </mat-toolbar>
    </div>

    <div class="row" style="margin-top: 3%">
        <mat-form-field class="col-md-4">
            <mat-label>Usuario</mat-label>
            <mat-select [(ngModel)]="usuario"  (selectionChange)="cargaRol()" >
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of lstUsuario" [value]="x.idUsuario">
                    {{x.nombreCompleto}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-4">
            <mat-label>Rol</mat-label>
            <mat-select [(ngModel)]="rol">
                <mat-option value="-1"> [Seleccione] </mat-option>
                <mat-option *ngFor="let x of lstRol" [value]="x.idRol">
                    {{x.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="registraRol()" type="button" class='btn btn-primary btn-sm' style="width: 100px">Agregar</button>


    </div>


    <div class="row" style="margin-top: 3%">
        <mat-table  #table  class="mat-cell" [dataSource]="dataSource" >
              <ng-container matColumnDef="idRol">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Código</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.idRol  }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="nombre">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >Usuario</mat-header-cell>
                <mat-cell *matCellDef="let aux" >{{ aux.nombre}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell  mat-header-cell *matHeaderCellDef >&nbsp;</mat-header-cell>
                <mat-cell *matCellDef="let aux; let i=index;">
                    <button mat-raised-button color="primary"  (click)="eliminaRol(aux)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
              </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let aux; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[6,8,10]" showFirstLastButtons></mat-paginator>
  </div>

 </div>
